<!DOCTYPE html>
<html ng-app="fsApp">
  <head>
    <meta charset="utf-8">
    <title>fsApp1.1</title>
    <!-- Angular -->
    <script src = "angular.min.js"></script>
    <!-- <script src = "app_components/chart.js"></script>
	<script src = "angular-chart.min.js"></script> -->
    <!-- Module -->
    <script src = "fsApp.js"></script>
    <!-- Services -->
    <script src = "app_components/browseService.js"></script>
    <script src = "app_components/angular-route.min.js"></script>
    <!-- Components -->
    <script src = "app_components/recipeComponent.js"></script>
    <script src = "app_components/browseComponent.js"></script>
    <!-- <script src = "app_components/charts/pieChart1.js"></script> -->
    
      <script>
      
      

    /*app. component("hiComponent", {
      template : ` 
      <form>
        <input type="text" name="userSearch" placeholder="Ingredient" ng-model="$ctrl.ing.name">
        <input type="submit" value="Search" ng-click="$ctrl.addIngredientByName($ctrl.ing.name)">
      <button ng-click="$ctrl.clearRecipe()" ng-hide="$ctrl.hideRankings()" >Clear Recipe</button>
      </form>
      
      <h4 ng-hide="$ctrl.hideRankings()">Flavor Pairings for <span ng-repeat="i in $ctrl.rIngs">
      <button ng-click="$ctrl.removeFromRecipe(i.id)">{{i.name}}</button>
      </span></h4>
      		
      <recipe-component ings = "$ctrl.rIngs"></recipe-component>
      
      	<div ng-hide="$ctrl.hideIngDetails()" >
      			<h5>Pairings for <button ng-click="$ctrl.removeFromRecipe($ctrl.ccs[0].ingredient2.id); $ctrl.clearCCs()">{{$ctrl.ccs[0].ingredient2.name}}</button></h5>
      			<button ng-repeat="cc in $ctrl.ccs | orderBy: '-count' | limitTo : $ctrl.detNum" ng-click="$ctrl.addToRecipe(cc.ingredient1.id)" >
      				{{cc.ingredient1.name}} : {{cc.count}}</button> <br><br>
				<button ng-click="$ctrl.clearCCs()">Hide Details</button>
			<button ng-click="$ctrl.addDetails()">View More</button>
      	</div>
      
      	<div ng-repeat="array in $ctrl.CCsByRanking | orderBy : '-' : true">
      	<h4>Connections = {{$ctrl.CCsByRanking.length - $index}}</h4>
      <table>
      	<tr ng-repeat="cc in array | orderBy: '-count'"><td>{{cc.count}}</td><td>{{cc.ingredient1.name}}</td><td>
      	<button ng-click="$ctrl.showIngredientById(cc.ingredient1.id)">View</button></td><td>
		<button ng-click="$ctrl.addToRecipe(cc.ingredient1.id); $ctrl.showIngredientById(cc.ingredient1.id)">Add</button></td>
		</tr>
      </table>
      	</div>
      	
      
      `,
      controller : function(browseService){
        var vm = this;
        
        vm.ingredient;
        vm.detNum = 10;
        vm.ccs = [];
        vm.rIngs = [];
        vm.CCsByRanking = [];
        
        vm.hideRankings = function(){
        	if(vm.CCsByRanking.length === 0 || vm.rIngs.length === 0){
        		return true;
        	}else{
        		return false;
        	}
        }
        
        vm.hideIngDetails = function(){
        		if(vm.ccs.length === 0){
        			return true;
        		} else {
        			return false;
        		}
        }
        
        vm.clearCCs = function(){
        	vm.ccs = [];
        	vm.detNum = 10;
        }
        
        vm.addDetails = function(){
        	vm.detNum += 10;
        }
        
        vm.showIngredientByName = function(name){
          browseService.showIngredientByName(name)
          .then(function(response){
              vm.ingredient = response.data;
              console.log(response.data);
              vm.indexCCs(vm.ingredient.id);
            });
        }

        vm.addIngredientByName = function(name){
          browseService.showIngredientByName(name)
          .then(function(response){
              vm.ingredient = response.data;
              vm.rIngs.push(response.data);
        		vm.indexRecipeCCs();
              
            });
        }
        
        vm.showIngredientById = function(id){
          browseService.showIngredient(id)
          .then(function(response){
              vm.ingredient = response.data;
              console.log(response.data);
              vm.indexCCs(id);
            });
        }
        
        vm.indexCCs = function(ccId){
        	browseService.indexCCs(ccId)
            .then(function(response){
                vm.ccs = response.data;
                console.log(response.data);
              });
        }
        
        vm.clearRecipe = function(){
        	vm.ing = null;
        	vm.rIngs = [];
        	vm.CCsByRanking = [];
        	vm.clearCCs();
        }
        
        vm.addToRecipe = function(id){
          browseService.showIngredient(id)
          .then(function(response){
        	  console.log('byId');
        	  console.log(response.data);
              vm.rIngs.push(response.data);
          		vm.indexRecipeCCs();
            });
        }
        
        vm.removeFromRecipe = function(id){
        	var index = 0;
        	vm.rIngs.forEach(function(rIng){
        		if(rIng.id === id){
        			vm.rIngs.splice(index, 1);
        		}
        		index++;
        	});
        	
        	/* console.log('ALLCCS:');
        	console.log(vm.allCCs);
        	
        	var idx2 = 0;
        	vm.allCCs.forEach(function(cc){
        			console.log('in foreach')
        			
        		if(cc.ingredient2.id === id){
        			
        			console.log('in splice')
        			console.log(cc.ingredient1.name);
        			console.log(cc.ingredient2.name);
        			
        			vm.allCCs.splice(idx2, 1);
        			
        		}
	        	idx2++;
        	})
        	console.log('ALLCCS2:');
        	console.log(vm.allCCs);
        	vm.arrangeCCs(vm.allCCs); 
        	
        	vm.indexRecipeCCs();
        	
      	}
        
        vm.indexRecipeCCs = function(){
        	
          	  console.log('in indexRecipeCCs1');
          	  console.log(vm.rIngs);
        	browseService.indexRecipeCCs(vm.rIngs)
            .then(function(response){
            	
          	  console.log('in indexRecipeCCs2');
          	  console.log(response.data);
                var data = response.data;
                
                vm.arrangeCCs(data);
        })
        
        vm.arrangeCCs = function(data){
        	vm.allCCs = [];
        	var rankings = [];
        	
        	data.forEach(function(cc){
            	var thisCCcount = 0;
            	var index = 0;
            	
            	data.forEach(function(cc2){
            		index ++;
            		
            		if(cc.ingredient1 !== null && cc2.ingredient1 !== null
            				&& cc.ingredient1.name === cc2.ingredient1.name){
            			thisCCcount++;
            			if(cc.id !== cc2.id){
            			cc.count += cc2.count;
            			data.splice(index-1, 1);
            			}
            		}
            		
            	})
            	
            	vm.allCCs.push(cc);
            	if(rankings.length < thisCCcount){
            		console.log('in IF STATEMENT');
            		for(var q = 0 ; q < 1+thisCCcount-rankings.length ; q++){
            		console.log('in FOR STATEMENT');
            			var newCCarray = [];
            			rankings.push(newCCarray);
            		}
            	}
            	if(thisCCcount > 0 && thisCCcount < rankings.length+1){
            		rankings[thisCCcount-1].push(cc);
            	}
            });
            	vm.CCsByRanking = rankings;
        };
        }


      },
      bindings : {
    	  ing : '<'
      }
    });
    
 */    

    </script>
  </head>
  <body>
    <browse-component></browse-component>
  </body>
</html>

<!--     <li ng-repeat="cc in $ctrl.allCCs | orderBy: '-count'">{{cc.ingredient1.name}}: {{cc.count}}
 
 <li ng-repeat="cc in $ctrl.CCsByRanking[0] | orderBy: '-count'">1X {{cc.ingredient1.name}}: {{cc.count}} 
		<button ng-click="$ctrl.addToRecipe(cc.ingredient1.id); $ctrl.showIngredientById(cc.ingredient1.id)">Add to Recipe</button>
      	<button ng-click="$ctrl.showIngredientById(cc.ingredient1.id)">View Ingredient</button>
      	</li>
 
 <h4>Flavor Pairings for {{$ctrl.ingredient.name}} <button ng-click="$ctrl.addToRecipe($ctrl.ingredient.id)">Add to Recipe</button></h4>
      <ol>
      	<li ng-repeat="cc in $ctrl.ccs | orderBy: '-count'">{{cc.ingredient1.name}}: {{cc.count}} 
      	<button ng-click="$ctrl.addToRecipe(cc.ingredient1.id)">Add to Recipe</button>
      	<button ng-click="$ctrl.showIngredientById(cc.ingredient1.id)">View Ingredient</button></li>
      </ol>
      
      vm.allCCs.forEach(function(cc2){
        				if(cc.ingredient2.id !== cc2.ingredient2.id
        						&& cc.ingredient1.name === cc2.ingredient1.name){
        					console.log('IN 2 foreach 22222')
        					cc2.count -= cc.count;
        					if(cc2.count < 0){
        						cc2.count *= -1;
        					}
        				}
        			});
 -->
